#sidebar {
    float:left;
    width:20%;
    padding-top:15px;
    height:100%;
    background-color: #efffef;
}

#filmdiv{
    padding-top:15px;
}

.main{
    height:500px;
}

#copyright{
    margin-top:10px;
    margin-left:5px;
}